{% extends 'logsys/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block body %}
    {% if user %}
        <h3>Hello, {{ user.username }}</h3>
        <h4><a href="/user/user_page/{{ user.id }}/">Ваша страничка</a></h4>
        <a href="/logsys/logout/">Выход</a>
    {% else %}
        <a href="/logsys/login/">Вход</a>
    {% endif %}
    {% if success %}
        <h1>{{ success }}</h1>
    {% endif %}
    {% if logic_error %}
        <h2>{{ logic_error }}</h2>
    {% endif %}
    <div>Описание будущего Умного дома</div>
{% endblock %}