{% extends 'logsys/base.html' %}

{% block title %}Страница регистрации{% endblock %}

{% block body %}
    {% if success %}
        <h1>{{ success }}</h1>
    {% endif %}
    {% if logic_error %}
        <h1>{{ logic_error }}</h1>
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <p>{{ field.label }} {{ field }} {{ field.help_text }} {{ field.error }}</p>
        {% endfor %}
        <input type="submit" value="Зарегистрироваться"/>
    </form>
{% endblock %}