{% extends 'homes/base.html' %}

{% block title %}Страница дома{% endblock %}

{% block body %}
    {% if logic_error_bool %}
        <h1>{{ logic_error }}</h1>
    {% endif %}
    {% if user_bool %}
        <h1>{{ user.username }}</h1>
        <h2>{{ user.first_name }}</h2>
        <h2>{{ user.last_name }}</h2>
        {% if home__bool %}
            <h3>{{ home.address }}</h3>
            <a href="/{{ home.id }}/insert_room/">Добавить комнату</a>
        {% endif %}
    {% endif %}
{% endblock %}