{% extends 'homes/base.html' %}

{% block title %}Добавить комнату{% endblock %}

{% block body %}
    {% if success %}
        <h1>{{ success }}</h1>
    {% endif %}
    {% if logic_error %}
        <h1>{{ logic_error }}</h1>
    {% endif %}
    {% if home %}
        <h1>Добавление комнаты в дом {{home.home_name }} по адресу {{ home.address }}</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Добавить комнату"/>
        </form>
    {% endif %}
{% endblock %}