{% extends 'homes/base.html' %}
{% block title %}Описание комнаты{% endblock %}

{% block body %}
    {% if success %}
        <h1>{{ success }}</h1>
    {% endif %}
    {% if logic_error %}
        <h1>{{ logic_error }}</h1>
    {% endif %}
    {% if room %}
        <h1>{{ room.room_name }}</h1>
        {% if devices %}
            <div>Приборы:</div>
            <ul>
                {% for device in devices %}
                    <li>
                        <p>Имя прибора: {{ device.device_name }}</p>
                        {% if device.mode %}
                            <p>Статус: {{ device.mode }}</p>
                        {% endif %}
                        {% if device.value %}
                            <p>Показатели прибора: {{ device.value }}</p>
                        {% endif %}
                        {% if device.quantity %}
                            <p>Количество приборов: {{ device.quantity }}</p>
                        {% endif %}
                        {% if device.description %}
                            <p>Описание прибора: {{ device.description }}</p>
                        {% endif %}
                    </li>
                {% endfor %}
             </ul>
            {% endif %}
        <br/><a href="/homes/{{ room.id }}/insert_device/">Добавить девайс</a>
    {% endif %}
{% endblock %}