{% extends 'homes/base.html' %}

{% block title %}Изменение значений{% endblock %}

{% block body %}
    {% if success %}
        <h1>{{ success }}</h1>
    {% endif %}
    {% if logic_error %}
        <h1>{{ logic_error }}</h1>
    {% endif %}
    {% if device %}
        <h1>Изменение значений для {{ device.device_name }}</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Изменить значения"/>
        </form>
    {% endif %}
{% endblock %}